*{
     margin: 0;
     padding: 0;
}
body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: #000;
}
.banner{
     position: fixed;
     width: 100%;
     height: 100vh;
     background: url(\(3\).png);
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.2s;
     clip-path: circle(75px at var(--x) var(--y));
}
.banner:active{
     clip-path: circle(400px at var(--x) var(--y));
}